.deleteButton {
width: 51px;
height: 32px;
}

h2 {
  margin-top: 60px;
  margin-left: 20px;
    margin-bottom: 30px;
    color: gray;
    font-weight: 350;
  }

  ion-header {
    background-color: var(--ion-background-color, #fff);
  }
