<ion-header>
  <ion-toolbar>
    <ion-title>impressum</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2><b>Imprint</b></h2>

    <p>Company Name: XYZ Corporation</p>

    <p>Address: 123 Main Street, Suite 456, Anytown, USA</p>

    <p>Phone: +1 (555) 123-4567</p>

    <p>Email: info@xyzcorp.com</p>

    <p>Represented by: John Doe</p>

    <p>Registered in: Delaware, USA</p>

    <p>Registration Number: 123456789</p>

    <p>VAT ID: DE123456789</p>

    <p>Responsible for Content: John Doe</p>

    <p>Disclaimer: The content of this app has been compiled with the greatest care. However, we cannot assume any
      liability for the accuracy, completeness, or timeliness of the information provided. The use of the content of the
      app is at the user's own risk.
    </p>
  </div>

</ion-content>
