<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Populars Series</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <app-search></app-search>


  <ion-list>
    <ion-item button *ngFor="let item of serien" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92/' + item.poster_path">
      </ion-avatar>
      <ion-label>
        {{item.name}}
        {{item.provider_id}}
        <p>{{item.first_air_date | date: 'y'}}</p>
      </ion-label>
      <ion-badge slot="end">{{item.vote_average | number: '1.0-1'}}</ion-badge>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll *ngIf="this.disableInfiniteScroll==false" (ionInfinite)="loadMore($any($event))">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more series...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
