//Import Swiper SCSS
@import 'node_modules/swiper/swiper.scss';
@import 'node_modules/swiper/modules/pagination/pagination.scss';
@import 'node_modules/@ionic/angular/css/ionic-swiper.css';

//set ion-content background to the movie poster

ion-content.background {
  --background: url("https://www.themoviedb.org/t/p/w1280/1yppMeTNQwDrzaUH4dRCx4mr8We.jpg") 0 center/100%  no-repeat;
}

//set ion-img to max wdth 100% and height to 500px
ion-content {
    max-width: 100%;
    height: 320px;
}


.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 15%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;
}

.swiper-pagination {
  background-color: var(--ion-background-color, #fff);
  padding: 5px;
  margin-bottom: -10px;
}

