<!-- home.page.html -->
<ion-content class="background">


  <swiper #swiper [config]="config" (slideChange)="swiperSlideChanged($event)">
    <ng-template swiperSlide> <ion-searchbar color="light" [debounce]="500" placeholder="Search series by name"
        (ionChange)="searchSerieByName($event)"></ion-searchbar> </ng-template>
    <!-- <ng-template swiperSlide><ion-searchbar color="light" [debounce]="500" placeholder="Search series by genre"
        (ionChange)="searchSerieByGenre($event)"></ion-searchbar> </ng-template> -->
    <ng-template swiperSlide><ion-searchbar color="light" [debounce]="500" placeholder="Search series by year"
        (ionChange)="searchSerieByYear($event)"></ion-searchbar> </ng-template>

  </swiper>


</ion-content>
