<ion-header>
  <h2>Favorites</h2>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none">
    <ion-toggle [checked]="!this.listView" (ionChange)='toggleView()'></ion-toggle>
    <ion-button class="deleteButton" color="danger" slot="end" size="small"
      *ngIf="!this.showDeleteButton && this.favorites.length>0 && !this.listView" (click)="deleteFavorites()">
      Delete
    </ion-button>
    <ion-button class="deleteButton"  slot="end" size="small" *ngIf="this.showDeleteButton && !this.listView" (click)="cancelDelete()">
      Cancel
    </ion-button>
  </ion-item>


  <ion-grid *ngIf="(this.favorites.length)!=0 && !this.listView">
    <ion-row>
      <ion-col size="6" *ngFor="let item of favorites">
        <ion-button *ngIf="this.showDeleteButton" color="danger" class="delete" (click)="presentAlert(item)">
          x
        </ion-button>
        <ion-card class="faves" [routerLink]="[item.id]" [class.wobble]="isShaking">
          <ion-img class="poster" [src]="imageBaseUrl + '/w300/' + item.poster_path"></ion-img>
          <ion-card-content>
            <ion-badge slot="start">{{item.first_air_date | date: 'y'}}</ion-badge>
            <ion-badge color="warning" slot="end">{{item.vote_average | number: '1.0-1'}}</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="(this.favorites.length)!=0 && this.listView">
    <!-- List newest item first -->
    <ion-item-sliding *ngFor="let item of favorites">
      <ion-item button [routerLink]="[item.id]">
        <ion-avatar slot="start">
          <img [src]="imageBaseUrl + '/w92/' + item.poster_path">
        </ion-avatar>
        <ion-label>
          {{item.name}}
          {{item.provider_id}}
          <p>{{item.first_air_date | date: 'y'}}</p>
        </ion-label>
        <ion-badge color="warning" slot="end">{{item.vote_average | number: '1.0-1' }}</ion-badge>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" button (click)="presentAlert(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>




  <ion-card color="warning" *ngIf="(this.favorites.length)==0">
    <ion-card-header>
      <ion-card-title>Nothing to see here...</ion-card-title>
      <ion-card-subtitle>Let's go!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Catch some new favorites
    </ion-card-content>
  </ion-card>
</ion-content>
