/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

h2 {
  margin-left: 15px;
  margin-bottom: 30px;
  color: gray;
  font-weight: 350;
}

ion-header {
  background-color: var(--ion-background-color, #fff);
}
