//set logo to 20% width and center it horizontally
.logo {
    width: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
}

.container {
padding: 10%;
margin-top: 30%;
}
