<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/serien"></ion-back-button>
    </ion-buttons>
    <ion-title>{{serie?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="serie">
    <img [src]="imageBaseUrl + '/w400/' + serie.poster_path" class="serie-Poster">
    <ion-card-header>
      <ion-card-title>{{serie.name}}</ion-card-title>
      <ion-card-subtitle>{{serie.providers}}</ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of serie.genres; let isLast = last">{{g.name}} {{!isLast ? " · " : ""}}
        </span>
      </ion-text>
    </ion-card-header>


    <ion-card-content>
      <ion-label color="medium">{{ serie.overview }}</ion-label>
      <hr>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{ serie.first_air_date | date: 'y'}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="repeat-outline" slot="start"></ion-icon>
        <ion-label>{{ serie.number_of_seasons}} Seasons</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="caret-forward-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ serie.number_of_episodes}} Episodes</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="this.saveSeries(serie)">
    <!-- disable button if serie is already in local storage -->
    <ion-icon name="star-outline" slot="start"></ion-icon>
    save to list
  </ion-button>
</ion-footer>
